<%= content_for(:head) do %>
  <%= current_user_name_tag %>
  <%= current_user_email_tag %>
  <%= current_sid_tag %>
  
  <script type="text/javascript">
  $(function(){
    $("textarea").keydown(function(event){
        if(event.keyCode == 13){
            event.preventDefault();
            $("#scroll").click();
        }
    });
  });
  $(function(){
    $('.createRoom form').toggle();
  });
  $(function(){
    $('#add_room').click(function(){
      $('.createRoom form').toggle();
    });
  });
  // $(function(){
  //   $('#room_name').text($('.current').text());
  // });
  </script>
<% end %>

<div id="header">
  <h1 id="logo"><a href="/"></a></h1>
  <div id="search"></div><!-- end search -->
  <div id="usernav">
    <ul>
      <li id="parent"><%= current_user.name %>
        <ul id="children">
          <li><%= link_to 'Settings', nil %></li>
          <li><%= link_to 'Log Out', nil %></li>
        </ul>
      </li>
    </ul>
  </div><!-- end usernav -->
</div><!-- end header -->

<div class="container">
  <div class="chat-room">
    <div class="lobby">
      <div id="existing_rooms">
        <div class="header">
          <h4>Rooms</h4>
        </div>
        <ul id="rooms">
        </ul>
      </div>
      <div id="new_room">
        <a href="#" id="add_room" class="btn">+</a>
        <div class="createRoom">
          <form>
            <input type="text" placeholder="Room name">
            <button>Add</button>
          </form>
        </div>
      </div>
    </div>

    <div id="messages">
      <div id="stuff">
        <ul class="items">
        </ul>
      </div>
      <div class="new">
        <textarea placeholder="Enter a chat..." autofocus="true"></textarea>
        <input type="submit" value="Enter" class="btn" id="scroll"></input>
      </div>
    </div>

    <div class="right-nav">
      <div id="room-info">
        <h1 id="room_name"></h1>
        <h2 id="room_description"></h2>
      </div>
      <img id="ci_status" src="https://secure.travis-ci.org/jcasimir/draper.png"></img>
      <div id="data">
        <div class="github header">
          <h4>Github Activity</h4>
        </div>
        <div class="users header">
          <h4>Patrons</h4>
          <ul id="online">
          </ul>
        </div>
        <div class="room-admin">
          <h2>Room Admin Section</h2>
          <div class="invites">
            <h3>Add patrons</h3>
            <input id="input" type="email" placeholder="email@address.com"></input>
            <br />
            <input id="submit" type="submit" value="Add"></input>
            <h3>Delete room</h3>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript" charset="utf-8">
  jQuery(function(){
    new App({el: $('.container')});
  })
</script>