<%= content_for(:head) do %>
  <%= current_user_name_tag %>
  <%= current_user_email_tag %>
  <script type="text/javascript">
  $(function(){
    $("textarea").keydown(function(event){
        if(event.keyCode == 13){
            event.preventDefault();
            $("#scroll").click();
        }
    });
  })
  </script>
<% end %>

<div id="header">
  <h1 id="logo"><a href="/">Speakeasy</a></h1>
  <div id="search"></div><!-- end search -->
  <div id="usernav">
    <ul>
      <li id="parent"><%= current_user.name %>
        <ul id="children">
          <li><%= link_to 'Settings', nil %></li>
          <li><%= link_to 'Log Out', nil %></li>
        </ul>
      </li>
    </ul>
  </div><!-- end usernav -->
</div><!-- end header -->

<div class="container">
  <div class="chat-room">
    <div class="lobby">
      <div class="header">
        <h1>Lobby</h1>
      </div>
      <ul id="rooms">
      </ul>
      <div id="new_room">
        <h3>Create Room</h3>
        <div class="createRoom">
          <form>
            <input type="text" placeholder="Room name">
            <button>New Room</button>
          </form>
        </div>
      </div>
    </div>

    <div id="messages">
      <div id="stuff">
        <ul class="items">
        </ul>
      </div>
      <div class="new">
        <textarea placeholder="Enter a chat..." autofocus="true"></textarea>
        <input type="submit" value="Enter" class="btn" id="scroll"></input>
      </div>
    </div>

    <div class="room-info">
      <div class="header">
        <h1>Room info</h1>
      </div>
      <ul>
        <li>Friend</li>
      </ul>
    </div>
  </div>
</div>

<script type="text/javascript" charset="utf-8">
  jQuery(function(){
    new App({el: $('.container')});
  })
</script>