<%= content_for(:head) do %>
  <%= current_user_name_tag %>
  <%= current_user_email_tag %>
  <%= current_sid_tag %>
  <%= current_user_gravatar_tag %>
  
  <script type="text/javascript">
  $(function(){
    $("textarea").keydown(function(event){
        if(event.keyCode == 13){
            event.preventDefault();
            $("#scroll").click();
        }
    });
  });
  $(function(){
    $('.createRoom form').toggle();
  });
  $(function(){
    $('#add_room').click(function(){
      $('.createRoom form').toggle();
    });
  });
  // $(function(){
  //   $('#room_name').text($('.current').text());
  // });
  // $(function(){
  //   $('#alert').show().animate({ top: 0,}, 200).delay(1600).animate({ top: -30, }, 200);
  // })
  </script>
<% end %>

<div id="header">
  <h1 id="logo"><a href="/"></a></h1>
  <div id="search"></div><!-- end search -->
  <div id="usernav">
    <ul>
      <li id="parent"><%= current_user.name %>
        <ul id="children">
          <li><%= link_to 'Settings', nil %></li>
          <li><%= link_to 'Log Out', nil, id: "log_out" %></li>
        </ul>
      </li>
    </ul>
  </div><!-- end usernav -->
</div><!-- end header -->

<div class="container">
  <div class="chat-room">
    <div class="lobby">
      <div id="existing_rooms">
        <div class="header">
          <h4>Rooms</h4>
        </div>
        <ul id="rooms">
        </ul>
      </div>
      <div id="new_room">
        <a class="btn" data-toggle="modal" href="#createRoom">Create Room</a>
        <div class="modal hide" id="createRoom">
          <div class="modal-header">
            <h3>Create a new room</h3>
          </div>
          <div class="modal-body">
            <div id="create_form">
              <form accept-charset="UTF-8" action="/api/core/rooms%>" id="create-room-form" method="post">
                <div style="margin:0;padding:0;display:inline">
                  <input name="utf8" type="hidden" value="&#x2713;" />
                </div>
                <table>
                  <tbody>
                    <tr id="room_name">
                      <td><label for="create_room_name">Room name:</label></td>
                      <td><input id="create_room_name" name="room[name]" type="text" /></td>
                    </tr>
                    <tr>
                      <td><label for="room_description">Room description:</label></td>
                      <td><input id="create_room_description" name="room[description]" type="text" /></td>
                    </tr>
                    <tr>
                      <td><label for="room_repo">Repo:</label></td>
                      <td><input id="create_room_repo" name="room[github_url]" placeholder="git://github.com/nisargshah100/speakeasy_app.git" type="text" /></td>
                    </tr>
                    <tr>
                      <td>
                      <td><input class="btn btn-primary" name="commit" type="submit" id="create-submit" value="Create Room" /></td>
                    </tr>
                  </tbody>
                </table>
              </form>
            </div>
          </div>
          <div class="modal-footer">
            <a href="#" class="btn" data-dismiss="modal">Close</a>
          </div>
        </div>
      </div>
    </div>

    <div id="messages">
      <ul id="alert">
      </ul>
      <div id="stuff">
        <ul id="welcome">
        </ul>
        <ul class="items">
        </ul>
      </div>
      <div class="new">
        <textarea id='chat_message' placeholder="Enter a message..." autofocus="true"></textarea>
        <input type="submit" value="Chat" class="btn" id="scroll"></input>
      </div>
    </div>

    <div class="right-nav">
      <div id="room-info" class="header">
      </div>
      <div id='travis_ci' style='display:none'>
        <img id="ci_status" src="https://secure.travis-ci.org/jcasimir/draper.png"></img>
      </div>
      <div id="data">
        <div class="search header">
          <h4>Search</h4>
          <div id="room_search">
          </div>
        </div>
        <div class="github header">
          <h4>Github Activity</h4>
          <div id='github_activity' class='github'></div>
        </div>
        <div class="users header">
          <h4>Patrons</h4>
          <ul id="online">
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript" charset="utf-8">
  jQuery(function(){
    new App({el: $('.container')});
  })
</script>