<%= content_for(:head) do %>
  <script type="text/javascript">
    $(function(){
      $('body').addClass('home-image');
    });
  </script>
<% end %>
<div id="home_form">
  <h1>Sign in</h1>
  <%= form_tag "/api/users/sessions", id: "log-in-form", method: :post do %>
    <%= text_field_tag("email", nil, :placeholder => "Enter your email", :autofocus => true ) %>
    <br>
    <%= password_field_tag("password", nil, :placeholder => 'Password') %>
    <br>
    <%= submit_tag("Sign In") %>
  <% end %>
</div>