<%= content_for(:head) do %>
  <script type="text/javascript">
    $(function(){
      $('body').addClass('home-image');
      $('#spotlight').toggle();
    });
    $(function(){
      $('#signin_form').toggle();
    });
    $(function(){
      $('#signup_form').toggle();
    });
    $(function(){
      $('#sign_in').click(function(){
        $('#signin_form').slideDown();
        $('#spotlight').toggle();
        $('#buttons').toggle();
      });
    });
    $(function(){
      $('#sign_up').click(function(){
        $('#signup_form').slideDown();
        $('#buttons').toggle();
      });
    });
    $(function(){
      $('#signin').click(function(){
        $('#signup_form').toggle();
        $('#signin_form').slideDown();
        $('#spotlight').toggle();
      });
    });
    $(function(){
      $('#signup').click(function(){
        $('#signin_form').toggle();
        $('#signup_form').slideDown();
        $('#spotlight').toggle();
      });
    });
  </script>
<% end %>
<div id="top" class="normal">
  <div id="intro">
    <h1></h1>
    <p>Not your average chat client</p>
    <div id="signin_form">
      <%= form_tag "/api/users/sessions", id: "log-in-form", method: :post do %>
        <%= text_field_tag("email", nil, :placeholder => "Enter your email", :autofocus => true ) %>
        <br>
        <%= password_field_tag("password", nil, :placeholder => 'Password') %>
        <br>
        <%= submit_tag("Sign In", :class => "btn btn-large") %>&nbsp;<%= link_to "or sign up", "#", :id => "signup" %>
      <% end %>
    </div>
    <div id="signup_form">
      <%= form_tag "/api/users", id: "sign-up-form", method: :post do %>
        <%= text_field_tag("email", nil, :placeholder => "Enter your email", :autofocus => true ) %>
        <br>
        <%= text_field_tag("display", nil, :placeholder => "Enter your name", :autofocus => true ) %>
        <br>
        <%= password_field_tag("password", nil, :placeholder => 'Password') %>
        <br>
        <%= submit_tag("Sign Up", :class => "btn btn-large btn-primary") %>&nbsp;<%= link_to "or log in", "#", :id => "signin" %>
      <% end %>
    </div>
    <div id="door">
    </div>
    <div id="spotlight">
      <img src="assets/lighton.png"></img>
    </div>
    <div id="buttons">
      <a href="#" id="sign_in" class="btn btn-large">Log In</a>
      <a href="#" id="sign_up" class="btn btn-large btn-primary">Sign Up</a>
    </div>
  </div>
</div>
<div id="bottom">
  <ul>
    <li>&copy;&nbsp;Speakeasy, Inc <%= Time.now.year %></li>
    <li><%= link_to "About", nil %></li>
    <li><%= link_to "Contact", nil %></li>
  </ul>
</div>